<div layout="column" layout-padding class="md-whiteframe-1dp white-background">
    <h3 class="md-title">Let's count ... {{ self.counter }}</h3>
    <md-divider></md-divider>
    <div layout="row">
        <md-button class="md-raised md-primary" ng-click="self.incrementCounter()">
            <md-icon md-font-icon="mdi mdi-plus mdi-24px"></md-icon>
        </md-button>
        <md-button class="md-raised md-accent" ng-click="self.decrementCounter()">
            <md-icon md-font-icon="mdi mdi-minus mdi-24px"></md-icon>
        </md-button>
    </div>
</div>